node_modules/
dist/
lib/
coverage/
*.log

# firebase
.firebase/
*-debug.log
.runtimeconfig.json
serviceAccountKey*.json
*service-account*.json

# env & secrets
.env
.env.local
.env.*.local
.env.production
.secret.local

# editor / os
.DS_Store
.idea/
.vscode/*
Thumbs.db
/emulator-data/
firebase.local.json
emu*.log

dist-demo/
